.AsGraphsContent {
  background-color: #f2f2f2;
}

.RemovePadding {
  padding: 0 !important;
}

.AsGrpahs p {
  margin: 0 auto !important;
  width: 90%;
  height: 13vh;
  color: white !important;
  font-size: 18px !important;
  font-weight: 200 !important;
}

.Description p {
  text-align: center;
  color: #9b9b9b;
}

.GraphOne {
  margin: 0 auto;
  width: 90%;
  height: 98%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.SelectDate {
  width: 100%;
  //   padding-top: 25px;
  padding-bottom: 35px;
  margin-top: 5%;
  color: #2b2b2b;
}

.SelectDate h2 {
  text-align: center;
  color: #2b2b2b;
}

.GraphTwo h2 {
  color: #2b2b2b;
}

.GraphTwo p {
  color: #9b9b9b;
  text-align: center;
}
