.GraphOne{
    margin: 0 auto;
    width: 90%;
    height: 98%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.GraphTwo{
    margin: 0 auto;
    width: 90%;
    height: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.InfoCon{
    background-color: #2b2b2b;
}



.AsGraph{
    width: 45%;
    float: left;
    height: max-content;
    background-color: #1b1b1b;
    border-radius: 10px !important;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #999;
}

.AsImg{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 60%;
    height: 30% !important;
    background-position: center !important;
    background-size: contain;
}

.AsobjHeight{
    padding-left: 9vh;
}

.Buttons{
    padding-top: 1%;
    width: max-content!important;
    margin: 0 auto !important;
}