.Asinfo{
    padding-top: 6vh;
    height: 30vh;
}

li{
    list-style: none;
    text-align: center;
}

.Astroid{
    background-color: black;
    height: 60vh;
}

.whitebar{
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.748) !important;
}

@media only screen and (max-width: 768px) {

    .Astroid{
      background-color: black;
      height: 30vh;
    }
}
  