/* .ConDash{
    width: 98.5% !important;
    margin: 0 auto !important;
    padding-top: 2% !important;
    border-radius: 10px !important;
    width: 98.5% !important;
    height: 80vh;
    padding-bottom: 1%;
  } */

  .float{
    float: left;
  }

  .Number{
    font-size: 48px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #fff !important;
    padding-top: 2%;
  }

  .infoblockOne{
    width: 95% !important;
    background-color: rgba(255, 102, 0, 0.75);
    border-radius: 10px !important;
    height: 25vh;
    margin-left: 3%;
    margin-right: 50% !important;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .infoblock h2{
    font-size: 18px !important;
  }
  
  .infoblockOne h2{
    font-size: 18px !important;
  }

  .infoblock{
    width: 95% !important;
    background-color: #422D53;
    border-radius: 10px !important;
    height: 25vh;
    margin-left: 3%;
    margin-right: 50% !important;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  