body {
  background-color: #090B0F !important;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.0), rgba(9, 11, 15, 1) 50%), url('img/Slide\ 16_9\ -\ 1\ \(1\).png') ;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DateInPut{
  width: 10%;
  background-color: #1b1b1b;
  border: none;
  border-radius: 10px;
  float: left;
  margin-left: 2%;
  margin-bottom: 5%;
  height: 30px;
  text-align: center;
  color: white;
}

.DateSel{
  float: right;
  background-color: #1b1b1b;
  width: 20%;
  height: 30px;
  padding-top: 0 !important;
  margin-right: 10%;
  background-color: rgba(255, 102, 0, 1)!important;
  border: none !important;
}

.PropertySel{
  padding-top: 3% !important;
  float: right;
  margin-top: 10%;
  background-color: #1b1b1b;
  width: 30%;
  height: 35px;
  padding-top: 0 !important;
  margin-right: 10%;
  background-color: #422D53;
  border: none !important;
}

.ObjSel{
  width: 25%;
  background-color: #1b1b1b;
  border: none;
  border-radius: 10px;
  float: left;
  margin-left: 2%;
  margin-bottom: 5%;
  height: 30px;
  text-align: center;
  color: white;
}

.SelectDate{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5%;
}

h4{
  text-align: left !important;
  height: 5vh;
  padding-bottom: 2% !important;
  font-size: 18px !important;
  padding-left: 2%;
  color: white !important;
}

/* .BackgroundImage{
  background-image: url('img/Slide\ 16_9\ -\ 1\ \(1\).png');
  background-position: center;
  background-size: cover;
  width: 100%;
} */

.SizingIssue{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.PieChart{
  width: 100% !important;
  height: 90vh;
  border-radius: 10px;
  padding-top: 5%;
}

.orange{
  color: rgba(255, 102, 0, 1);
  float: left;
}

.navbTex .orange p{
 color: white;
 float: left;
}

.TimeChart{
  width: 100% !important;
  height: 70vh;
  border-radius: 10px;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 50, 84);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navStyling{
  margin: 0 auto;
  margin-top: 1vh !important;
  border-radius: 10px !important;
  padding-left: 5%;
  width: 98.5% !important;
  height: max-content;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #422D53;
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
-webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
-moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
}

.ConDash{
  width: 98.5% !important;
  margin: 0 auto !important;
  padding-top: 2% !important;
  border-radius: 10px !important;
  width: 98.5% !important;
  height: 80vh;
  padding-bottom: 1%;
}
.AsConStyle button{
  background-color: #090B0F;
  border-radius:10px !important;
  box-shadow: -3px 3px 5px 0px rgba(155, 155, 155, 0.1) inset !important;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(137, 137, 137, 0.1) inset !important;
  -moz-box-shadow: -3px 3px 5px 0px rgba(145, 145, 145, 0.1) inset !important;
}

.Icons{
  width: 450px;
  float: left;
  margin-left: 55vh !important;
}

.IconOne{
  width: 50px !important;
  height: 50px !important;
  background-image: url('img/Icon\ 1.png') !important;
  background-size: contain;
  float: left;
  margin-right: 10vh;
}

.IconTwo{
  width: 50px !important;
  height: 50px !important;
  background-image: url('img/Icon\ 2.png') !important;
  background-size: contain;
  float: left;
  margin-right: 10vh;
}

.IconThree{
  width: 50px !important;
  height: 50px !important;
  background-image: url('img/Icon\ 3.png') !important;
  background-size: contain;
  float: left;
  margin-right: 10%;
}

.navbarImg{
  margin-right: 20px;
  width: 50px;
  height: 50px;
  /* background-image: url('img/PUKCOL.png'); */
  background-color: white;
  background-size: cover;
  border-radius: 150px;
  float: left;
}

.navbTex{
  margin-right: 20px;
  width: 65px;
  height: 50px;
  float: left;
  font-size: 32px;
  font-weight: semi-bold;
  color: white;
}

@media (max-width: 600px) {
  .Icons{
    margin-left: 20% !important;
  }
  .Icons{
    width: 150px;
  }
  .IconOne{
    width: 40px !important;
    height: 40px !important;
    background-image: url('img/Icon\ 1.png') !important;
    background-size: contain;
    float: left;
    margin-right: 5%;
  }
  
  .IconTwo{
    width: 40px !important;
    height: 40px !important;
    background-image: url('img/Icon\ 2.png') !important;
    background-size: contain;
    float: left;
    margin-right: 5%;
  }
  .IconThree{
    width: 40px !important;
    height: 40px !important;
    background-image: url('img/Icon\ 3.png') !important;
    background-size: contain;
    float: left;
    margin-right: 5%;
  }
  .navbarImg{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    /* background-image: url('img/PUKCOL.png'); */
    background-color: white;
    background-size: cover;
    border-radius: 150px;
    float: left;
  }
}

.Description p{
  color: white !important;
  padding-top: 5vh;
  padding-left: 5vh;
  width: 100% !important;
  overflow-y: scroll;
  height: 35vh;
}

.foto{
  height: 120px;
}

.bg-image{
  height: 60vh;
}

.earth{
  width: 100%;
  height: 60vh !important; 
}

a{
  text-decoration: none !important;
  color: white !important;
}

.Title{
  padding-left: 5vh;
  margin-top: 1.5vh;
  padding-top: 5vh;
  width: 100%;
  height: 27vh;
  color: white !important;
  border-radius: 10px !important;
}

.globe_Con{
  margin-top: 1.5vh;
  border-radius: 10px !important;
  width: 100%;
  height: 27vh;
}


.head_section model-viewer{
  height: 27vh !important;
}

.dateDisp{
  color: white;
  font-size: 24px;
  text-align: center;
}

.dateDispStyle{
  padding-top: 35%;
  color: white;
  font-size: 24px;
  height: 27vh;
  margin-top: 1.5vh;
  text-align: center;
  border-radius: 10px;
}

h2{
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
  color: white;
}


.Title p{
  color: white !important;
  font-size: 12px !important;
  font-weight: 200 !important;
}

.Title h1{
  color: white !important;
  font-size: 42px !important;
  font-weight: 600 !important;
}

.head_section{
  height: 30vh !important;

}


.Navigation{
  color: white !important;
}

.EarthOne{
  height: 30vh;
  width: 100%;
  background-size: cover;
}

.Background{
  background-color: #555;
}


.Timeline{
  height: 450px;
  background-color: #555;
}

.Graph{
  height: 350px;
  background-color: black; 
}

/* button {
  float: right;
	width: 150px !important;
	height: 50px !important;
	cursor: pointer;
	background: #333 !important;
	margin: 10px !important;
	border: none !important;
	border-radius: 10px !important;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
	color: #222;
	font-size: 16px;
} */

.LinePrew{
  margin: 0 auto !important;
  color: white !important;
  margin-top: 4% !important;
  padding-left: 10% !important;
  padding-right: 5% !important;
  padding-bottom: 1% !important; 
}

.AsPrewCon{
  height: 35vh;
  overflow-y: auto;
}

.float{
  float: left;
}

.AsConStyle{
  padding: 3%;
  border-radius: 10px;
  width: 18%;
  margin-left: 1%;
  float: left;
}

h3{
  font-size: 16px !important;
  text-align: center !important;
  color: white;
}

.infoblock{
  width: 95% !important;
  background-color: #422D53;
  border-radius: 10px !important;
  height: 25vh;
  margin-left: 3%;
  margin-right: 50% !important;
  margin-bottom: 10%;
  margin-top: 5%;
}

.IconButton{
  background-color: #422D53 !important;
  border: none !important;
  height: 50px !important;
  padding-top: 0 !important;
}

.infoblockOne{
  width: 95% !important;
  background-color: rgba(255, 102, 0, 0.75);
  border-radius: 10px !important;
  height: 25vh;
  margin-left: 3%;
  margin-right: 50% !important;
  margin-bottom: 10%;
  margin-top: 5%;
}

.infoblock h2{
  font-size: 18px !important;
}

.infoblockOne h2{
  font-size: 18px !important;
}

.Number{
  font-size: 48px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #fff !important;
  padding-top: 2%;
}

.butt button{
  float:left !important;
  color: white !important;
}

.butt{
  height: 100px;
  padding-top: 1.5%;
  margin: 0 auto!important;
  width: 370px !important;
}


/* button:hover {
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
	font-size: 15px;
	transition: 100ms;
} */

.dateSel{
  margin-top: 3%;
  margin-bottom:10%;
  padding: 5px;
  float: left;
	width: 30vh;
	height: 50px;
	cursor: pointer;
	background: #333 !important;
	border: 2px solid white !important;
	border-radius: 10px !important;
  color: white !important;
  border: none !important;
}


