body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 50, 84);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.foto{
  height: 120px;
}

.bg-image{
  height: 60vh;
}

model-viewer{
  width: 100%;
  height: 60vh;
}

.earth{
  width: 100%;
  height: 40vh; 
}

.Description{
  color: white !important;
  padding-top: 5vh;
  padding-left: 5vh;
  width: 60vh;
  overflow: auto;
  height: 35vh;
}

.dateDisp{
  transform: rotate(-90deg);
  margin-top: 23vh;
  color: white;
  font-size: 24px
}

.Title{
  padding-left: 5vh;
  margin-left: 7%;
  padding-top: 10vh;
  width: 60%;
  height: 60vh;
  background-color: rgba(106, 118, 145, 0.347) !important;
  color: white;
}

.head_section{
  height: 60vh !important;
}

.Background{
  background-image: url('img/Earth\ background.png') !important;
  background-size: cover;
}

.Navigation{
  color: white !important;
}

.navbarImg{
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-image: url('img/PUKCOL.png');
  background-size: cover;
  border-radius: 150px;
}

.Timeline{
  height: 450px;
  background-color: #555;
}

.Graph{
  height: 450px;
  background-color: rgb(151, 60, 60);  
}

.Astroid{
  background-color: antiquewhite;
  height: 60vh;
}

.EarthOne{
  height: 20vh !important;
}
