.ConDash {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #f2f2f2;
}

.float {
  float: left;
}

.Number {
  font-size: 48px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #2b2b2b;
  padding-top: 2%;
}

.infoblockOne {
  background-color: #d2d2d2;
  height: 25vh;
  padding-top: 4vh;
  color: #2b2b2b;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

.infoblock h2 {
  font-size: 18px !important;
  color: #2b2b2b;
}

.infoblockOne h2 {
  font-size: 18px !important;
  color: #2b2b2b;
}

.infoblock {
  padding-top: 4vh;
  background-color: #f2f2f2;
  height: 25vh !important;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

.BackgroundImage {
  padding-top: 3vh;
  height: 29vh;
  color: white !important;
  border-radius: 10px !important;
}

.globe_Con {
  border-radius: 10px !important;
  width: 100%;
  padding-left: 10%;
  padding-top: 3vh;
}

.dateDisp {
  color: white;
  font-size: 24px;
  text-align: center;
}

.dateDispStyle {
  padding-top: 9vh;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
}

.Title h1 {
  margin-top: 3%;
  color: white !important;
  font-size: 42px !important;
  font-weight: 600 !important;
}

.AsPrewCon {
  height: 70vh;
}

.AsPrewCon h2 {
  font-size: 48px !important;
  font-weight: bold !important;
  text-align: center !important;
  font-weight: 600;
  margin-bottom: 5vh;
  color: #2b2b2b;
}

.paddingTOP {
  height: 25vh;
  font-size: 48px !important;
  font-weight: bold !important;
  text-align: center !important;
  font-weight: 600;
  color: #2b2b2b;
}
